.avatar {
    background-color: #ffc900;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  
  .ion-text-start {
    font-weight: 600;
    
  }
  
  .ion-text-right {
    font-weight: 500;
    margin-left: 50px;
  }
  .title{
    font-weight: 600;
    font-size: larger;
  }