<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Purchases</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let purchase of purchases">
      <ion-item>
        <ion-avatar slot="start">
          <div class="avatar">
            {{purchase.farmer.name.substring(0,1).toUpperCase()}}
          </div>
        </ion-avatar>
        <ion-label>
         <strong><h3 class="title">{{purchase.farmer.name}}</h3></strong><br>
            <ion-text class="ion-text-left">{{purchase.purchase_no}}</ion-text>
           <ion-text class="ion-text-right">{{purchase.purchase_date|date:'dd-mm-yyyy'}}</ion-text>
          </ion-label>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editPurchase(purchase)">
          <ion-icon name="pencil" size="small"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deletePurchase(purchase.id)">
          <ion-icon name="trash" size="small"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button (click)="openModal(null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
