<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Items</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fetchItems()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-avatar slot="start">
          <!--<div class="avatar">{{item.item_name.substring(0,1).toUpperCase()}}</div>-->
        </ion-avatar>
        <ion-label>
          <h3 class="title">{{item.item_name}}</h3>
          <p class="subtext">{{item.grade.grade}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editItem(item)">
          <ion-icon name="pencil" size="small"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item.id)">
          <ion-icon name="trash" size="small"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button (click)="openModal(null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
