<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Customers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fetchCustomers()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-avatar slot="start">
          <div class="avatar">{{item.name.substring(0,1).toUpperCase()}}</div>
        </ion-avatar>
        <ion-label>
          <!-- <h2>{{item.id}}</h2> -->
          <h3 class="title">{{item.name}}</h3>
          <p class="subtext">{{item.mobile}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editCustomer(item)">
          <ion-icon name="pencil" size="small"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteCustomer(item.id)">
          <ion-icon name="trash" size="small"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button (click)="openModal(null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
