<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="submitForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating">Purchase No</ion-label>
      <ion-input
        type="text"
        formControlName="purchase_no"
        placeholder="Purchase Number"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Purchase Number is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Purchase Date</ion-label>
      <ion-input
        type="Date"
        formControlName="purchase_date"
        placeholder="Purchase Date"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Date is required!!
      </span>
    </div>
    <ion-item>
      <ion-label>Farmer Name</ion-label>
      <ion-select [value]="farmers" formControlName="farmers">
        <ion-select-option *ngFor="let farmer of farmers" ngDefaultControl
          >{{farmer.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Farmer Name is required!!
      </span>
    </div>
    <section>
      <ion-button
        class="ion-margin-top"
        color="primary"
        expand="block"
        (click)="openModal(null)"
        >Add Items</ion-button
      >
    </section>

    <ion-grid>
      <ion-row>
        <ion-col class="smallFont">
          <strong><div>Name</div></strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong><div>Qty</div></strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong><div>Rate</div></strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong><div>Amount</div></strong>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngFor="let purchase of purchases">
      <ion-row>
        <ion-col class="smallFont">
          <strong><div>{{item_name}}</div></strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong>{{purchase.data.quantity}}</strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong>{{purchase.data.rate}}</strong>
        </ion-col>
        <ion-col class="smallFont">
          <strong>{{purchase.data.amount}}</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
    <section id="section2">
      <ion-button
        fill="outline"
        expand="block"
        color="primary"
        class="ion-margin-top"
        type="submit"
        >{{ farmer?.id ? 'Edit' : 'Save' }}</ion-button
      >
    </section>
  </form>
</ion-content>
