<ion-content>
  <div class="login-wrapper">
      <div class="closeButton">
          <ion-button fill="clear" size="small" (click)="goToHome()">
              <ion-icon size="large" name="close-outline"></ion-icon>
          </ion-button>
      </div>

      <div class="logo">
          <ion-img src="../../assets/icon/Login.jpeg"></ion-img>
      </div>

      <div class="login-form">
          <ion-item>
              <ion-label position="floating">
                  <ion-icon name="mail-outline"></ion-icon>
                  Email
              </ion-label>
              <ion-input type="email" required="" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  Password
              </ion-label>
              <ion-input type="password" required="" [(ngModel)]="password"></ion-input>
          </ion-item>

         <!-- <p class="forgot-button" (click)="forgotPassword()"><strong>Forgot Password?</strong></p>-->

          <ion-button expand="block" (click)="login()">
              <ion-icon name="enter-outline"></ion-icon>
              SIGN IN
          </ion-button>

         <!-- <p class="register-button" (click)="goToRegister()">New here? <strong> Sign Up</strong></p>-->

      </div>
  </div>
</ion-content>