.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

    .closeButton {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        ion-button {
            --color: var(--theme-color-black2);
        }
    }

.buttonColor {
    opacity: 1;
}
.logo{
    display: flex;
    justify-content: center;
    height: 15vh;
}
.forgot-button {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 2rem 0;
}
.register-button {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
}