.avatar {
    background-color: #ffc900;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  
  .title {
    font-weight: 600;
    font-size: 16px;
  }
  
  .subtext {
    font-size: 80%;
    margin-top: 0;
    color: #8b979f;
  }