<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ farmer?.id ? 'Edit' : 'Add' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="farmerModalForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating">Farmer Name</ion-label>
      <ion-input type="text" formControlName="farmer"></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Farmer Name is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="text"
        formControlName="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Email is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text" formControlName="mobile"></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Mobile Number is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input
        type="text"
        formControlName="address"
        placeholder="Address"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Address is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input
        type="text"
        formControlName="city"
        placeholder="City"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        City is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Pincode</ion-label>
      <ion-input
        type="text"
        formControlName="pincode"
        placeholder="Pincode"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Pincode is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Bank</ion-label>
      <ion-input
        type="text"
        formControlName="bank"
        placeholder="Bank"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Bank is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Branch</ion-label>
      <ion-input
        type="text"
        formControlName="branch"
        placeholder="Branch"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Branch is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Account Name</ion-label>
      <ion-input
        type="text"
        formControlName="account_name"
        placeholder="Account Name"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Account Name is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Account Number</ion-label>
      <ion-input
        type="Number"
        formControlName="account_no"
        placeholder="Account Number"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Account Number is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">IFSC</ion-label>
      <ion-input
        type="Number"
        formControlName="ifsc"
        placeholder="IFSC"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        IFS code is required!!
      </span>
    </div>
    <ion-button
      fill="outline"
      expand="block"
      color="primary"
      class="ion-margin-top"
      type="submit"
      >{{ farmer?.id ? 'Edit' : 'Add' }}</ion-button
    >
  </form>
</ion-content>
