<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="submitForm" (ngSubmit)="logForm()" novalidate>
    <ion-item>
      <ion-label>Item Name</ion-label>
      <ion-select>
        <ion-select-option
          *ngFor="let item of items"
          ngDefaultControl
          >{{item.item_name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Farmer Name is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input
        type="Number"
        formControlName="quantity"
        placeholder="Quantity"
        
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Quantity is required!!
      </span>
    </div>
    <ion-item>
      <ion-label position="floating">Rate</ion-label>
      <ion-input
        type="Number"
        formControlName="rate"
        placeholder="Rate"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Rate is required!!
      </span>
    </div>
    <ion-item>
      <ion-label formControlName="amount" ngDefaultControl>Amount: Rs. {{amount}}</ion-label>
    </ion-item>
    <section>
      <ion-button class="ion-margin-top" color="primary" expand="block" type="submit"
        >Add</ion-button
      >
    </section>
  </form>
</ion-content>