<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ warehouse?.id ? 'Edit' : 'Add' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="submitForm" (ngSubmit)="logForm()" novalidate>
    <ion-item>
      <ion-select placeholder="Branch Id">
        <ion-select-option *ngFor="let branch of branchId" ngDefaultControl>{{branch.branch}}</ion-select-option>
      </ion-select>
      <ion-label position="floating">Warehouse</ion-label>
      <ion-input
        type="text"
        formControlName="warehouse"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Warehouse Name is required!!
      </span>
    </div>
    <ion-button
      fill="outline"
      expand="block"
      color="primary"
      class="ion-margin-top"
      type="submit" 
      >{{ warehouse?.id ? 'Edit' : 'Add' }}</ion-button
    >
  </form>
</ion-content>
