<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ item?.id ? 'Edit' : 'Add' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="itemsModalForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-select placeholder="Grade">
        <ion-select-option 
          *ngFor="let grade of grades"
          ngDefaultControl
          >{{grade.grade}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Item Name</ion-label>
      <ion-input
        type="text"
        formControlName="item_name"
      ></ion-input>
    </ion-item>
    <div>
      <span
        class="error ion-padding"
        color="secondary"
        *ngIf="submitted && errorCtr.title.errors?.required"
      >
        Grain Name is required!!
      </span>
    </div>
    <ion-button
      fill="outline"
      expand="block"
      color="primary"
      class="ion-margin-top"
      type="submit"
      >{{ item?.id ? 'Edit' : 'Add' }}</ion-button
    >
  </form>
</ion-content>
